.env
.DS_Store
*/.DS_Store
/OCP/firstOcp/target/
/OCP/PlaygroundOCP/dist/
/OCP/Kalender/target/
/OCP/JavaFXApplication2/nbproject/private/
/OCP/JavaFXApplication3/nbproject/private/
/OCP/JavaFXApplication3/build/
/OCP/firstAppGrafic/nbproject/private/
/OCP/firstAppGrafic/build/
/OCP/firstAppGrafic/dist/
/OCP/Kundenverwaltung/target/
/OCP/JDBC/nbproject/private/
/OCP/JDBC/build/
/OCP/JDBC/dist/
/OCP/PlaygroundOCP/build/
/OCP/PlaygroundOCP/nbproject/private/
/OCP/JavaOCP/nbproject/private/
/OCP/playgroundOCP/nbproject/private/
/OCP/Threads/nbproject/private/
/OCP/Threads/build/
/OCP/JPAkundenverwaltung/target/
/OCP/WebCustomers/target/
/OCP/WebCustomers/WebCustomers/target/