<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    </head>
    <body>
        <div class="container">
            <header></header>
            <nav th:replace='standard.html :: nav'></nav>
            <main >
                
                <form action="#" th:action="@{/edit/{id}(id=${produkt.id})}" method="post" th:object="${produkt}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" th:field="*{name}" placeholder="Name"/>
                           <span th:if="${#fields.hasErrors('name')}" class='alert alert-danger' th:errors='*{name}'></span>
                           
                    </div>
                    <div class="form-group">
                        <label for="anzahl">Anzahl</label>
                        <input type="text" class="form-control" th:field="*{anzahl}" placeholder="Anzahl"/>
                         <span th:if="${#fields.hasErrors('anzahl')}" class='alert alert-danger' th:errors='*{anzahl}'></span>
                          
                    </div>
                    
                    <button class="btn btn-success">Speichern</button>
                </form>
                
            </main>

            <aside></aside>
            <footer></footer>
        </div>

        <script src="/js/jquery-3.4.1.slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
